# Virtual environment
.venv/
env/
venv/
ENV/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter / IPython
.ipynb_checkpoints

# Datasets and model checkpoints
data/
checkpoints/
models/*.pth
models/*.pt
*.onnx
out_vid/

# Logs & monitoring
runs/
logs/
*.log

# Environments / local settings
.env
.vscode/
.idea/
